.bar-chart {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
  height: 240px;
}
.bar-chart__totals-container {
  width: 245px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  margin-left: 57px;
}
.bar-chart__axis-bottom line,
.bar-chart__axis-left line {
  stroke: #fff;
}
.bar-chart__axis-bottom path,
.bar-chart__axis-left path {
  display: none;
}
